@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="w3l-main-slider" id="home">
    <script src="js/owl.carousel.js"></script>

    <!-- script for -->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
</section>





<section class="grids-5">
    <div id="grids5-block" class="py-5">
        <div class="row" style="display: flex; align-items: center; justify-content: space-between;">
            <div class="grids4-info  col-md-6" style="background-color: #F5F5F5; padding: 20px; text-align: center; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);">
                <div class="info-bg">
                    <h5 style="font-size: 22px; font-weight: bold; margin-bottom: 20px;">Pronadjite jedinstveno krstarenje</h5>
                    <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
                        Ako trazite jedinstven i neponovljiv odmor za Vas i Vase najmilije ovo je pravo mesto za Vas. Najbolji izbor kruzera i jahti
                        za odmor iz snova i to sve u dva klika.
                    </p>
                </div>
            </div>
            <div class="grids4-info  col-md-6 mt-md-0 mt-5" style="background-color: #F5F5F5; padding: 20px; text-align: center; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);">
                <div class="info-bg">
                    <h5 style="font-size: 22px; font-weight: bold; margin-bottom: 20px;">Organizujte krstarenje iz snova</h5>
                    <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
                        Posedujete kruzer a niste do sada imali gde da se izreklamirate?
                    </p>
                    <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px;">
                        Sada je to lako! Registrujte vas nalog i lako i jednostavno oglasite ponude za Vasa krstarenja na najpopularnijem sajtu.
                    </p>
                </div>
            </div>
        </div>

        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Najbolja ponuda kruzera</h3>
            </div>
            <div class="row mt-5 pt-3">



                @foreach (var Kruzer in Model.topRated)
                {
                    <div class="grids4-info col-md-6" style="width: 100px;">
                        <a href="Hotel-Single?id=@Kruzer.Id"><img src="@Kruzer.GlavnaSlika" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5>
                                <a href="KruzerSingle?id=@Kruzer.Id">
                                   Ime kruzera: @Kruzer.Naziv
                                </a>
                            </h5>
                            <h5>Destinacije kroz koje prolazi: </h5>
                            @foreach (var grad in Kruzer.Gradovi)
                            {
                                <h6>@grad.Naziv</h6>

                            }
                            <a class="btn btn-theme1" style="background-color:dodgerblue" href="KruzerSingle?id=@Kruzer.Id"> Detaljnije</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
