@page
@model PROJEKAT_MONGODB.Pages.ONamaModel
@{
}
<section class="w3l-content-1" id="about">
    <div id="content1-block" class="py-5">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Naša ideja</h3>
                <p class="my-3 head">
                     U moru ponuda za putovanja kruzerima, kao putnik, veoma je teško sagledati sve neophodne aspekte i informacije vezane za samo putovanje, odabir destinacija, i slicno , a pri tom izbeći moguće neprijatnosti i odmor provesti sa potpunim uživanjem.
                    Upravo u toj činjenici leži naša ideja da se putnik do najsitnijih detalja informiše o željenoj destinaciji, da se pruži prava i proverena informacija, i da se odabere pravi kruzer koji ce ispuniti sva putnikova ocekivanja.                                                          
               
                </p>
            </div>
            <div class="cwp23-img mt-5">
                <img src="assets/images/banner-1.jpg" class="img-responsive" alt="">
            </div>
           
        </div>
    </div>
</section>