@page
@model PROJEKAT_MONGODB.Pages.RegisterModel
@{
}

<section class="w3l-login">
    <div class="login-bg section-gap">
        <div class="container">
            <!---728x90--->
            <!--<div class="logo text-left top-bottom-gap">-->
            <!-- if logo is image enable this
            <a class="brand-logo" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <!--</div>-->
            <div class="login-form">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Registracija</h3>
                    <p class="my-3 head">
                        Organizovanje putovanja je sada nikad lakse!
                    </p>
                    <p class="my-3 head">
                        Registracijom na nasem sajtu dobijate mogucnost oglasavanja vasih kruzera i organizovanje putovanja. Sve sto
                        je potrebno je da prvo unesete Vase licne podatke a zatim i podatke o kruzeru. Nakon toga imate mogucnost
                        organizovanja tura putovanja svuda po svetu!
                    </p>
                </div>
                <h4 class="form-head">Licne informacije</h4>
                <form method="post" id="signupform">
                    <div>
                        <p class="text-head">Ime: </p>
                        <input type="text" required="" asp-for="NoviKorisnik.Ime" class="input" placeholder="Unesite ime..." />
                    </div>
                    <div>
                        <p class="text-head">Prezime: </p>
                        <input type="text" required="" asp-for="NoviKorisnik.Prezime" class="input" placeholder="Unesite prezime..." />
                    </div>
                    <div>
                            <p class="text-head">Grad: </p>
                            <input type="text" required="" asp-for="NoviKorisnik.Grad" class="input" placeholder="Unesite grad..." />
                        </div>
                        <div>
                            <p class="text-head">Adresa: </p>
                            <input type="text" required="" asp-for="NoviKorisnik.Adresa" class="input" placeholder="Unesite adresu..." />
                        </div>
                        <div>
                            <p class="text-head">Broj telefona: </p>
                            <input type="text" required="" asp-for="NoviKorisnik.BrojTelefona" class="input" placeholder="Unesite broj telefona..." />
                        </div>
                    <div>
                        <p class="text-head">Email adresa: </p>
                        <input type="email" required="" id="email" asp-for="NoviKorisnik.Email" class="input" style="margin-bottom: 0px" placeholder="Unesite email adresu..." />
                        @*<label class="error error-hidden" style="visibility: hidden;">Email adresa nije validna!</label>*@
                    </div>
                    <div>
                        <p class="text-head" style="margin-top: 0px">Sifra: </p>
                        <input type="password" required="" id="password" asp-for="NoviKorisnik.Sifra" class="input" style="margin-bottom: 0px" placeholder="Unesite sifru..." />
                        @*<label class="error" style="visibility: hidden;">Ovo polje je obavezno!</label>*@
                    </div>
                    <div>
                        <p class="text-head">Ponovite sifru: </p>
                        <input type="password" required="" id="confirm_password" asp-for="ConfrimPassword" class="input" style="margin-bottom: 0px" placeholder="Ponovo unesite sifru..." />
                        @*<label class="error" style="visibility: hidden;">Ovo polje je obavezno!</label>*@
                    </div>

                    <div class="d-grid align-login-register" style="display:flex; justify-content:center; margin-top:20px; " >
                        <button type="submit" class="btn btn-theme1" style="background-color:darkturquoise; width:250px;" asp-page-handler="Register">Registracija</button>
                    </div>
                    <label class="error" style="margin-bottom: 0px">@Model.ErrorMessage</label>
                </form>
            </div>
        </div>
        <!---728x90--->

    </div>
</section>
